*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style-type: none}
a{text-decoration: none;color: white;}

:root{
    --main-dark: #383134;
    --main-light: #6E6066;
    --prymary-dark: #853851;
    --primary-light: #EE1F63;
    --secondary: #FFB600;
    --text: #FFFFFF;


}

@font-face {
    font-family: 'classic_pokemon';
    src: url('../fonts/Pokemon Classic.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'classic_pokemon';
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-dark);
    color: white;
    padding: 32px;
}

header{
    background-color: var(--primary-light);
    color: white;

}

nav{
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.btn-big-attention{
    padding: 20px 30px;
    background-color: var(--primary-light);
    border: solid 3px var(--secondary);
}

/* cliker */

.cliker-container{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/*login --- register*/
.sub-container{
    display: flex;
    justify-content: space-between;
}

.lore-container{
    width: 60%;
    display: flex;
    flex-direction: column;


    .inputs-container{
        display: flex;
        gap: 8px;

    }
    .form-row{

        input{
            background-color: var(--main-light);
            padding: 10px 20px;
            border-radius: 8px;
            border: transparent;
            color: white;
            ::placeholder{
                color: white;
                opacity: 1;
            }
        }
    }

}

.btn-primar-light{
    background-color: var(--primary-light);
    padding: 10px 20px;
    border-radius: 8px;
    border: transparent;
    color: white;

    box-shadow: 13px 10px 17px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 13px 10px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 10px 17px -10px rgba(0,0,0,0.75);
}

.btn-primar-dark{
    background-color: var(--prymary-dark);
    padding: 10px 20px;
    border-radius: 8px;
    border: transparent;
    color: white;

    box-shadow: 13px 10px 17px -18px rgba(0,0,0,0.75);
    -webkit-box-shadow: 13px 10px 17px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 10px 17px -18px rgba(0,0,0,0.75);
}

.input-primar-light{
    background-color: var(--main-light);
    padding: 10px 20px;
    border-radius: 8px;
    border: transparent;
    color: white;
    ::placeholder{
        color: white;
        opacity: 1;
    }
}

.select-primar-light{
    background-color: var(--main-light);
    padding: 10px 20px;
    border-radius: 8px;
    border: transparent;
    color: white;
    ::placeholder{
        color: white;
        opacity: 1;
    }
}

/*boutique*/

#typeSelector{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
}
#typeSelector img{
    width: 11%;
    height: 25%;
}

#filterBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;

}

.pokemonItem{
    border: 1px solid black;
    border-radius: 8px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: var(--main-light);
}
.imgPokemonCard{
    width: 50%;
    height: 50%;
}

#divBoutique{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

/*index quiz*/

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
}

/*quiz play*/

.quiz-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
    margin: 0 auto;
    .btn-primar-dark{
        padding: 20px 40px;
    }
    .btn-primar-light{
        padding: 20px 40px;
    }
    .input-primar-light{
        padding: 20px 40px;
    }
}