{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="cliker-container">
            <img id="user-pokemon-img" src='{{pokemon.sprite}}'
                 hx-get="{{path('app_add_money') }}"
                 hx-trigger="click"
                 hx-target="#moneyUser"
                 hx-swap="innerHTML"
                 >
            <a class='btn-primar-light' href="{{path('app_display_pokemon') }}"> Random Pokemon</a>
        </div>
    </main>

{% endblock %}
