{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="cliker-container">
            <img src='{{pokemon.sprite}}'
                 hx-get="{{path('app_add_money') }}"
                 hx-trigger="click"
                 hx-target="#moneyUser"
                 hx-swap="innerHTML"
                 alt=''>
            <div>
                <button class="btn-primar-light"> Random Pokemon</button>
            </div>
        </div>
    </main>

{% endblock %}
