{% extends 'base.html.twig' %}


{% block body %}
    <img src='{{pokemon.sprite}}' 
    hx-get="{{path('app_add_money') }}"
                hx-trigger="click"
                hx-target="#moneyUser"
                hx-swap="innerHTML"
     alt=''>
    <p id="moneyUser"> $ : {{money}} </p> 

{% endblock %}
