{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    
    <div id='divListePokemon'>
    <input type="search" name="searchPokemon" id="searchPokemon"
            hx-get="/findPokemonByLetter"
            hx-trigger="input changed delay:500ms, search"
            hx-target="#divListePokemon"
            placeholder="Pokemon name"
            hx-swap="innerHTML">
    {% for pokemon in list_pokemon %}
        <img src="{{pokemon.sprite}}" alt="picture of the pokemon {{pokemon.name}}">
        <p> {{pokemon.name}} </p>
        <p> {{pokemon.price}} </p>
    {% endfor %}
    </div>

{% endblock %}