{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1>Quiz index !</h1>

            <a href="/quiz/play/1" class="btn-big-attention">start Quiz</a>
        </div>
    </main>
{% endblock %}
